/*.video-card{
    width: 200px;
}*/
.example-card {
  width: 200px;
  height: 400px;
}

.example-header-image {
  background-image: url('http://placehold.it/150x150');
  background-size: cover;
}
 md-grid-tile figure {
     align-items: flex-start!important;
     flex-wrap: wrap;
   }