<!--<md-card style="width:300px" (click)="getDetail(videoCard.id)">
<img md-card-image src="http://placehold.it/150x150">
<md-card-content>
  <p>
    Two link long title that is video title
  </p>
  <div>
    <h4>
      <i class="material-icons" style="float: left">timer</i>
      <span>{{videoCard.lastseen}}</span>
      </h4>
    </div>
</md-card-content>
<md-card-actions>
  <app-card-footer [buttons]="videosButtonBar" [videoId]="videoCard.id"></app-card-footer>
</md-card-actions>
</md-card>-->

<md-card class="example-card">
  <!--<img md-card-image src="http://placehold.it/150x150" (click)="getDetail(videoCard.id)">-->
  <img md-card-image src="{{videoCard.image}}" (click)="getDetail(videoCard.id)">
  <md-card-content>
    <p>
      {{videoCard.description}}
    </p>
    <div layout="row">
      <div><i class="material-icons">timer</i></div>
      <div style="margin-top: 5px">{{videoCard.lastSeen}} hours ago</div>
    </div>
</md-card-content>
<hr/>
<md-card-actions>
  <app-card-footer [buttons]="videosButtonBar" [videoId]="videoCard.id"></app-card-footer>
</md-card-actions>
</md-card>