<!--<md-grid-list cols="4">
  <md-grid-tile *ngFor="let videoCard of videos">
    <md-card>
      <img md-card-image alt="image">
      <hr>
      <md-card-content>
        <p>
          two link long title that is video title
        </p>
        <p>
          <md-icon>av_timer</md-icon>
          <span> 4 hours ago</span>
        </p>
      </md-card-content>
      <md-card-actions>
        <md-button-toggle-group #group="mdButtonToggleGroup">
          <md-button-toggle value="left">
            <md-icon>format_align_left</md-icon>
          </md-button-toggle>
          <md-button-toggle value="center">
            <md-icon>format_align_center</md-icon>
          </md-button-toggle>
          <md-button-toggle value="right">
            <md-icon>format_align_right</md-icon>
          </md-button-toggle>
          <md-button-toggle value="justify" >
            <md-icon>format_align_justify</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>-->

<!--<md-grid-list cols="4">
  <md-grid-tile>1</md-grid-tile>
  <md-grid-tile>2</md-grid-tile>
  <md-grid-tile>3</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
</md-grid-list>-->
<!--<md-grid-list cols="4">
  <md-grid-tile>
    <md-card class="video-card"> 
       <img md-card-image src="assets/img/examples/shiba2.jpg">
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="video-card"> <md-card-header>header</md-card-header></md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="video-card"> <md-card-header>header</md-card-header></md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="video-card"> <md-card-header>header</md-card-header></md-card>
  </md-grid-tile>
</md-grid-list>-->

<!--<div class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 300px;" *ngFor="let c of videos">
          <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
          <md-card-content>
            <h2>{{user}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
          
          </div>
        </md-card>
      </div>-->

<!--<md-card class="example-card">
      <img md-card-image src="http://placehold.it/150x150">
      <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>-->

<!--<md-grid-list cols="4">
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="http://placehold.it/150x150">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>

    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="http://placehold.it/150x150">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="http://placehold.it/150x150">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="http://placehold.it/150x150">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>-->
<div class='md-padding' layout="row" layout-wrap style="margin-left: 100px;margin-top:20px;">
    <md-card style="width: 200px;margin-left:10px;" *ngFor="let v of videos" >
      <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </md-card-content>
       <md-card-actions>
        <md-button-toggle-group #group="mdButtonToggleGroup">
          <md-button-toggle value="left">
            <md-icon>format_align_left</md-icon>
          </md-button-toggle>
          <md-button-toggle value="center">
            <md-icon>format_align_center</md-icon>
          </md-button-toggle>
          <md-button-toggle value="right">
            <md-icon>format_align_right</md-icon>
          </md-button-toggle>
          <md-button-toggle value="justify" >
            <md-icon>format_align_justify</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>
      </md-card-actions>
    </md-card>
  </div>

 