<div class="form-register">
<app-app-icon></app-app-icon>
<md-card>
  <md-card-title>
    <md-toolbar color="primary">
      <span>Create New Account</span>
    </md-toolbar>
  </md-card-title>
  <md-card-content>
    <form name="register-form" (ngSubmit)="registerUser()" novalidate [formGroup]="registerForm">
      <md-input-container>
        <input md-input placeholder="First Name" type="text" id="firstName" name="firstName" formControlName="firstName">
      </md-input-container>
      <md-input-container>
        <input md-input placeholder="Last Name" type="text" id="lastName" name="lastName" formControlName="lastName">
      </md-input-container>
       <md-input-container>
        <input md-input placeholder="Email" type="email" id="email" name="email" formControlName="email">
      </md-input-container>
      <md-input-container>
        <input md-input placeholder="Password" type="password" id="password" name="password" formControlName="password">
      </md-input-container>
      <md-input-container>
        <input md-input placeholder="Confirm Password" type="password" id="password" name="password" formControlName="confirmPassword">
      </md-input-container>
      <button md-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
      <button md-button color="primary" type="button" routerLink="/account/login">Back To Login</button>
    </form>
  </md-card-content>
</md-card>
</div>