.swiper-container {
    height: 300px !important;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;
    font: bold 18px/1 sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}