<div class="form-forgorPassword">
  <img src="assets/image/appicon.png" alt="" class="app-icon">
<md-card>
  <md-card-title>
    <md-toolbar color="primary">
      <span>Forgot password</span>
    </md-toolbar>
  </md-card-title>
  <md-card-content>
    <form name="forgotPassword-form" #f="ngForm" (ngSubmit)="forgotPassword()" novalidate>
      <md-input-container>
        <input md-input placeholder="Email" type="email" id="username" name="username" [(ngModel)]="user.email" required>
      </md-input-container>
    <div class="padding">
      <button md-raised-button color="primary" type="submit" [disabled]="!f.form.valid">Submit</button>
      <a md-button color="primary" routerLink="/account/login">Back to login</a>
    </div>
  </form>
</md-card-content>
</md-card>
</div>