<md-toolbar color="primary">
  <md-icon>home</md-icon>
  <a md-button routerLink="/home/videos">Video Gallary</a>
  <div class="search-box">
    <input type="text" placeholder="Search" class="search-box-textbox" [(ngModel)]="searchString" />
    <button md-button (click)="searchVideos()"><i class="material-icons">search</i></button>
</div>
<md-icon>account_circle
</md-icon>
<button md-button [mdMenuTriggerFor]="menu" align="end">Hello Member!</button>
<md-menu #menu="mdMenu">
  <button md-menu-item routerLink="/admin/dashboard">My Dashboard</button>
  <button md-menu-item routerLink="/account/login">Logout</button>
</md-menu>
</md-toolbar>