<md-toolbar color="primary">
  <md-icon>home</md-icon>
  <span> Video Gallary</span>
  <!--<button class="app-icon-button">
     <md-icon>home</md-icon>
    </button> Video Gallary-->
  <div class="search-box">
    <input type="text" placeholder="Search" class="search-box-textbox" [(ngModel)]="searchString" />
    <!--<md-icon (click)="searchVideos()" style="cursor: pointer">search</md-icon>-->
    <i class="material-icons" (click)="searchVideos()" style="cursor: pointer">search</i>
</div>
<span class="app-toolbar-filler"></span>
<md-icon>account_circle
</md-icon>
<button md-button [mdMenuTriggerFor]="menu" align="end">Hello Member!</button>
<md-menu #menu="mdMenu">
  <button md-menu-item routerLink="/admin/dashboard">My Dashboard</button>
  <button md-menu-item routerLink="/account/login">Logout</button>
</md-menu>
</md-toolbar>