<!--<md-grid-list cols="{{itemPerColumn}}" rowHeight="700px" gutterSize="20px">
  <md-grid-tile *ngFor="let video of videos">
    <div>
      <app-card [videoCard]="video"></app-card>
    </div>
  </md-grid-tile>
</md-grid-list>-->

<!--<div layout="row">
  <div *ngFor="let video of videos">
    <app-card [videoCard]="video"></app-card>
  </div>
</div>-->


<md-grid-list cols="{{itemPerColumn}}" gutterSize="30px"  rowHeight="700px">
  <md-grid-tile *ngFor="let video of videos">
      <app-card [videoCard]="video"></app-card>
  </md-grid-tile>
</md-grid-list>
  

  

